body{
	background-image: url('Design/img/stars.jpg');
	background-attachment: fixed;
	background-color: black;
	color: white;
	font-family: "Lucida Console", Courier, monospace;
	text-align: center;
}
div{
	margin: 0 auto;
}
header{
	float: left;
	border-radius: 50%;
  box-shadow: 15px 15px 0 0 yellow;
  width: 300px;
  height: 300px;
	margin-top: 50px;
  transition-property: background;
  transition-duration: 3s;
  transition-timing-function: linear;
}

header:hover{
	 height: 300px;
     width: 300px;
     border-radius: 50%;
     background: yellow;
}

.summary{
position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
	font-size: 20px;
}

.preamble {
	height: 250px;
	width: 500px;
	background: #f00;
	border-radius: 800px 800px 0 0;
	position: relative;
	}
.preamble h3{
	padding: 10px;
	margin-left: auto;
    margin-right: auto;
    width: 250px;
	
}
.preamble p{
	
}
#zen-supporting{
	background: #acacac;
	width: 500px;
	height: 1500px;
	position: relative;
}
.explanation h3, .benefits h3{
	height: 100px;
    width: 100px;
    background: #fff;
    border-radius: 40px;
    border: 15px solid #999;
	margin: 0 auto;
	padding: 30px 0 0 0;
}
.sidebar{
	float: left;
}
h1, h2 {
text-align : center;
color : #00FFFF;
text-transform : uppercase;
}
h3, h4, h5{
	color: #000;
	text-transfrom: uppercase;
	text-align: center;
}
p{
	padding: 0 30px 0 30px;
	font-size: 12px;
}
.benefits p{
	column-count: 2;
	column-gap: 10px;
	-moz-column-count: 2;
       -moz-column-gap: 10px;
       -webkit-column-count: 2;
       -webkit-column-gap: 10px;
}
footer{
	height: 50px;
    width: 400px;
    background: #fff;
    border-radius: 40px;
    border: 15px solid #999;
	margin: 0 auto;
	padding: 30px 0 0 0;
}
.design-selection {
	width: 210px;
	height: 210px;
	background: red;
	-webkit-transform: skew(30deg);
	   -moz-transform: skew(30deg);
	     -o-transform: skew(30deg);
	position: relative;
	top: -40px;
  left: 775px;
}
.design-selection li{
	list-style-type: none;
}
.design-selection{
	font-size: 12px;
}
.design-archives{
	width: 210px;
	height: 210px;
	background: red;
	-webkit-transform: skew(-30deg);
	   -moz-transform: skew(-30deg);
	     -o-transform: skew(-30deg);
	position: relative;
  left: 250px;
	top: -270px;
}
.design-archives li{
	list-style-type: none;
}
.zen-resources{
	position: relative;
	left: 750px;
	top: -250px;
 width:300px;
height:300px;
border-radius:50%;
color:#fff;
line-height: 20px;
background:#ADD8E6;

}
.zen-resources h3{
	padding: 10px;
}
.zen-resources li{
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
   width: 6em
	
}
a:hover, a:active{
	opacity: .50;
}